<div id="<%= dom_id problema_voo %>">
  <p>
    <strong>Situacao:</strong>
    <%= problema_voo.situacao %>
  </p>

  <p>
    <strong>Detalhe:</strong>
    <%= problema_voo.detalhe %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= problema_voo.usuario %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= problema_voo.endereço %>
  </p>

  <p>
    <strong>Provas:</strong>
    <%= problema_voo.provas %>
  </p>

  <p>
    <strong>Advogado:</strong>
    <%= problema_voo.advogado %>
  </p>



</div>


