<div id="<%= dom_id problema_negativado %>">
  <p>
    <strong>Divida:</strong>
    <%= problema_negativado.divida %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= problema_negativado.categoria %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= problema_negativado.usuario %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= problema_negativado.endereco %>
  </p>

  <p>
    <strong>Provas:</strong>
    <%= problema_negativado.provas %>
  </p>

  <p>
    <strong>Advogado:</strong>
    <%= problema_negativado.advogado %>
  </p>

</div>
